<nav class="brand-navbar">
  <div class="brand-name">MyBrand</div>
  
  <div class="nav-section">
    <ul class="nav-links">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink='app-products'>Products</a></li>
    </ul>
  </div>
  
  <div class="search-section">
    <input type="text" placeholder="Search..." class="search-input"   />
    <button class="search-btn" >Search</button>
  </div>
  
  <div class="auth-section">
    <button routerLink="app-signin" class="sign-in-btn">Sign In</button>
    <button routerLink="app-signup" class="sign-up-btn">Sign Up</button>
    <button [routerLink]="['/app-cartitem']" class="cart-btn" [routerLink]="['/app-cartitem']">Cart</button>
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">☰</button>
  
  <!-- Mobile Menu -->
  <div class="mobile-menu" [class.active]="isMenuVisible">
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink='app-products'>Products</a></li>
      <li><button class="sign-in-btn" routerLink="app-signin">Sign In</button></li>
      <li><button class="sign-up-btn" routerLink="app-signup">Sign Up</button></li>
      <li><button class="cart-btn" [routerLink]="['app-cartitem']">Cart</button></li>
    </ul>
    <div class="search-section">
      <input type="text" placeholder="Search..." class="search-input" />
      <button class="search-btn">Search</button>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>